NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CANONICAL_HOST=findgood.food
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GOOGLE_MAP_ID=
NEXT_PUBLIC_MAP_DEFAULT_LAT=34.0522
NEXT_PUBLIC_MAP_DEFAULT_LNG=-118.2437
NEXT_PUBLIC_MAP_DEFAULT_ZOOM=12
